*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  background-color: #EEE; }

.nav {
  max-height: 10rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw; }
  .nav__logo {
    height: 10rem; }
  .nav__list {
    list-style: none;
    align-self: stretch;
    display: flex;
    align-items: center;
    color: #CCC;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 1.8rem; }
    .nav__list-item {
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.2s;
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 2rem; }
      .nav__list-item:hover {
        color: #EEE;
        background-color: #59B079; }

.welcome {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.8), rgba(0, 0, 0, 0.8)), url("../public/images/search-bg.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  .welcome__container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .welcome__heading {
    font-size: 4.8rem;
    letter-spacing: 10px;
    font-weight: 600;
    text-transform: uppercase; }
    .welcome__heading--span-1 {
      color: #59B079; }
    .welcome__heading--span-2 {
      color: #DDD; }
  .welcome__description {
    font-size: 2.4rem;
    letter-spacing: 7px;
    font-weight: 400; }
    .welcome__description--span-1 {
      color: #DDD; }
    .welcome__description--span-2 {
      color: #59B079; }
  .welcome__search {
    font-size: 1.4rem;
    padding: 1.5rem 3rem;
    border-radius: 30px;
    color: #666;
    text-transform: none;
    letter-spacing: 2px;
    width: 80%;
    box-shadow: none; }
    .welcome__search::placeholder {
      color: #999;
      text-transform: uppercase;
      font-family: inherit;
      letter-spacing: 5px; }
    .welcome__search:focus {
      outline: none; }
