.figure-card {
    flex: 1 0 30%;
    height: 35rem;
    background-size: cover;
    background-position: center;
    margin: 1.6rem 1rem;
    border-radius: 12px;
    border: 2px solid $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 3.2rem;
    transition: all 0.3s;
    cursor: pointer;

    &-1 {
        background-image: linear-gradient(
            to bottom, 
            rgba($color-black, 0.7), 
            rgba($color-black, 0.7)),
            url("../images/home-1.jpeg");
    }

    &-2 {
        background-image: linear-gradient(
            to bottom, 
            rgba($color-black, 0.7), 
            rgba($color-black, 0.7)),
            url("../images/home-2.jpeg");
    }

    &-3 {
        background-image: linear-gradient(
            to bottom, 
            rgba($color-black, 0.7), 
            rgba($color-black, 0.7)),
            url("../images/home-3.jpeg");
    }

    &__text {
        font-size: 2.4rem;
        font-weight: 500;
        color: $color-light-2;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding-bottom: 0.2rem;
        border-bottom: 2px solid $color-light-2;
        transition: all 0.3s;
    }

    &:hover {
        transform: scale(1.02) translateY(-0.8rem);
        position: relative;
        z-index: 10
    }

    &:active {
        transform: scale(1.01) translateY(-0.5rem);
    }

    &:hover &__text {
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
    }
}