.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $color-dark-3;
    position: relative;

    &__arrow {
        display: inline-block;
        font-size: 8rem;
        position: absolute;

        @include respond(phone) {
            font-size: 5rem;
        }
        
        &--left {
            left: -5rem;
            z-index: 50;
            color: $color-dark-1;

            @include respond(phone) {
                left: -1rem;
            }
        }

        &--right {
            right: -5rem;
            z-index: 50;
            cursor: pointer;
            color: $color-primary;
            animation: pulsate 1s infinite;
            animation-direction: alternate;
            animation-timing-function: ease-out;

            &:hover {
                animation-play-state: paused;
            }

            @include respond(phone) {
                right: -1rem;
            }
        }
    }

    &__container {
        text-align: center;
        flex: 1 0 90%;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        padding: 0 5rem;

        @include respond(phone) {
            flex: 0 0 80%;
            padding: 0;
        }
    }

    &__card {
        margin-right: 5rem;
    }

    &__profile-card {
        margin-right: 8rem;

        & a {
            &,
            &:visited,
            &:link {
                text-decoration: none;
                color: inherit;
                cursor: pointer;
            }
        }
    }

    &__profile-container {
        height: 25rem;
        width: 25rem;
        border-radius: 100%;
        border: 4px solid $color-primary;
        margin-bottom: 4rem;
        position: relative;
        overflow: hidden;
        mask-image: -webkit-radial-gradient(white, black);
        -webkit-mask-image: -webkit-radial-gradient(white, black);
    }

    &__profile-image {
        // width: 25rem;
        position: relative;
        display: block;
        max-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.02);
        transition: all 0.3s ease-out;
    }

    &__profile-container:hover &__profile-image {
        filter: blur(2px);
        transform: translate(-50%, -50%) scale(1);
        @include respond(tab-land) {
            transform: translate(-50%, -50%);
            filter: none;
        }
    }

    &__profile--caption {
        background-color: rgba($color-dark-3, 0.8);
        color: $color-light-1;
        position: absolute;
        top: 100%;
        width: 100%;
        height: 50%;
        padding: 1.5rem 3rem;
        transition: all 0.3s ease-out;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(tab-land) {
            top: auto;
            bottom: 0; 
            padding: 1.5rem;
        }

        &-text {
            margin-bottom: 1rem;
        }
    }

    &__profile-container:hover &__profile--caption {
        transform: translateY(-100%);

        @include respond(tab-land) {
            transform: none; 
        }
    }

    &__profile--icons a {

        &,
        &:visited,
        &:link {
            color: $color-light-1;
            cursor: pointer;
        }
        

        &:not(:last-child) {
            margin-right: 0.5rem;

            @include respond(tab-land) {
                margin-right: 0.8rem;
            }
        }

        & i {
            transition: all 0.2s;
            @include respond(tab-land) {
                font-size: 2rem;
            }
            
        }

        &:hover i {
            transform: scale(1.2);
            color: $color-primary;
        }
    }

    &__profile-name {
        color: $color-white;
        font-size: 1.8rem;
        letter-spacing: 5px;
    }

    &__heading {
        font-size: 2.4rem;
        margin-bottom: 0.5rem;
    }

    &__subheading {
        font-size: 1.4rem;
        color: $color-dark-2;
        margin-bottom: 1rem;
    }

    &__image-container {
        border: 5px solid $color-primary;
        height: 40rem;
        width: 30rem;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover{
            transform: translateY(-1rem);
        }

        @include respond(phone) {
            width: 28rem;
        }
    }

    &__image {
        min-width: 100%;
        max-height: 50%;
        border-bottom: 5px solid $color-primary;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    &__text {
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--heading {
            font-size: 1.8rem;
            margin: 1.2rem auto;
        }

        &--subheading {
            font-size: 1.6rem;
        }
    }

    &__price-container {
        background-color: $color-primary;
        color: #FFF;
        font-size: 4.2rem;
        letter-spacing: 5px;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    &__status {
        position: absolute;
        top: 20rem;
        left: 0;
        font-size: 1.4rem;
        letter-spacing: 3px;
        width: 100%;
        background-color: rgba($color-black, 0.6);
        color: $color-light-1;
        padding: 1rem;
        transform: translateY(calc(-100% - 5px));
    }
}
