body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: $color-light-1;
    color: $color-dark-2;
}

h2 {
    color: $color-primary;
    font-size: 4.0rem;
    font-weight: 400;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;

    @include respond(tab-land) {
        letter-spacing: 5px;
    }

    @include respond(phone) {
        letter-spacing: 3px;
        font-size: 3.2rem;
    }
}

.error {
    color: red;
}

.hide {
    opacity: 0;
    transform: translateY(0.2rem);
    transition: all 0.5s;
    display: none;
}