.u-margin-bottom-xs {
    margin-bottom: 2rem!important;
}

.u-margin-bottom-s {
    margin-bottom: 4rem!important;
}

.u-margin-bottom-m {
    margin-bottom: 6rem!important;
}

.u-margin-bottom-l {
    margin-bottom: 8rem!important;
}

.u-margin-bottom-xl {
    margin-bottom: 10rem!important;
}

.u-margin-top-xs {
    margin-top: 2rem!important;
}

.u-margin-top-s {
    margin-top: 4rem!important;
}

.u-margin-top-m {
    margin-top: 6rem!important;
}

.u-margin-top-l {
    margin-top: 8rem!important;
}

.u-margin-top-xl {
    margin-top: 10rem!important;
}