.u-margin-bottom-xs {
    margin-bottom: 2rem!important;
}

.u-margin-bottom-s {
    margin-bottom: 4rem!important;
}

.u-margin-bottom-m {
    margin-bottom: 6rem!important;
}

.u-margin-bottom-l {
    margin-bottom: 8rem!important;
}

.u-margin-bottom-xl {
    margin-bottom: 10rem!important;
}