.btn {
    text-transform: uppercase;
    text-align: center;
    &,
    &:link,
    &:visited {
        font-size: 2.4rem;
        letter-spacing: 6px;
        color: $color-light-1;
        padding: 2.5rem;
        min-width: 30%;
        border-radius: 100px;
        background-color: $color-primary;
        display: inline-block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 15rem;
        transition: all 0.3s ease-out;
        cursor: pointer;
    }

    &:hover {
        transform: translate(-50%, calc(-50% - 1rem));
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    }

    &:active {
        background-color: $color-primary-dark;
        transform: translate(-50%, calc(-50% - 0.5rem));
        box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.15);
    }
}

.btn-outline {
    text-transform: uppercase;
    text-align: center;
    &,
    &:link,
    &:visited {
        font-size: 2.4rem;
        letter-spacing: 6px;
        color: $color-primary;
        padding: 2.5rem;
        min-width: 30%;
        border-radius: 100px;
        background-color: $color-white;
        display: inline-block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 15rem;
        transition: all 0.25s ease-out;
        border: 2px solid $color-primary;
        cursor: pointer;
    }

    &:hover {
        transform: translate(-50%, calc(-50% - 1rem));
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    }

    &:active {
        background-color: $color-light-1;
        color: $color-primary-dark;
        transform: translate(-50%, calc(-50% - 0.8rem));
        box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.15);
        border: 2px solid $color-primary-dark;
    }
}