.nav {
    padding: 0 2%;
    max-height: 10rem;
    position: fixed;
    background-color: rgba($color-black, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    z-index: 10000;
    text-align: center;

    &__logo {
        max-height: 10rem;
        margin-right: 1.6rem;
    }

    &__list {
        list-style: none;
        align-self: stretch;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-light-3;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 1.4rem;
        flex-basis: 75%;
        
        &-item {
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.2s;
            flex: 0 1;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-around;
            padding: 0 2.2%;

            &:hover {
                color: $color-light-1;
                background-color: $color-primary;
            }
        }
    }  
}