.contact-us {
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

    & p {
        font-size: 2rem;
        flex-basis: 100%;
        letter-spacing: 1px;

        margin-bottom: 1.5rem;
        color: $color-primary-dark;
    }

    & span {
        font-weight: 600;
        text-transform: uppercase;
        color: $color-dark-2;
    }
    
    & a {

        &,
        &:visited,
        &:link {
            text-decoration: none;
            color: inherit;
            transition: all 0.2s ease-in;
            display: inline-block;
        }
        

        &:hover {
            color: darken($color-primary-dark, 15%);
        }
    }

    &__icons {
        font-size: 2.5rem;
        margin-top: 2.5rem;
        margin-bottom: 4rem;
        :not(:last-child) {
            margin-right: 2rem;
        }

        & a {

            &,
            &:visited,
            &:link {
                color: $color-primary-dark;
                transition: none;
            }

            & i {
                transition: all 0.3s;
            }

            &:hover {
                color: $color-primary-light;

                & i {
                    transform: scale(1.3);
                }
            }

        }
    }
}