.join-team {

    &__text {
        width: 80%;
        margin: 0 auto 1.5rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: 3px;
        color: $color-dark-3;
        line-height: 2;

    }
}