$color-primary: #59B079;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-white: #FFF;
$color-black: #000;

$color-light-1: #EEE;
$color-light-2: #DDD;
$color-light-3: #CCC;

$color-dark-1: #999;
$color-dark-2: #666;
$color-dark-3: #333;

